<!-- PAGE TITLE
        ================================================== -->
<section class="page-title-section bg-img cover-background" data-background="/user/img/bg/page-title.jpg">
    <div class="container">

        <div class="title-info">
            <h1>My Profile</h1>
        </div>
        <div class="breadcrumbs-info">
            <ul class="ps-0">
                <li><a href="/">Home</a></li>
                <li><a href="/account-profile">My Profile</a></li>
            </ul>
        </div>

    </div>
</section>
<!-- ACCOUNT ORDERS
        ================================================== -->
<section class="md">
    <div class="container">
        <div class="row justify-content-center">

            <!-- left panel -->
            <div class="col-lg-4 col-sm-9 mb-2-3 mb-lg-0">

                <div class="account-pannel">

                    <div class="p-4">

                        <div class="text-center">
                            <div class="pb-3">
                                <img class="img-fluid rounded-circle img-thumbnail" src="/user/img/avatar/t-3.jpg"
                                    style="height: 100px;
                                            width: 100px;
                                            object-fit: cover;" xoriginal="/images/{{product.imageUrl.[0].filename}}"
                                    alt="...">
                            </div>
                            <h6 class="mb-0 display-28">{{user.name}}</h6>
                            {{!-- <small>Joined February 06, 2017</small> --}}
                            {{!-- <div class="reward-points">
                                <i class="ti-star text-primary pe-1"></i> Points: 7386
                            </div> --}}
                        </div>
                    </div>

                    <div class="list-group">
                        <a class="list-group-items" href="/account-profile"><i class="ti-user pe-2"></i>Profile</a>
                        <a class="list-group-items active" href="/account-orders"><i class="ti-bag pe-2"></i>Orders<span
                                class="badge badge-pill"></span></a>
                        <a class="list-group-items" href="/account-address"><i
                                class="ti-location-pin pe-2"></i>Addresses</a>
                        {{!-- <a class="list-group-items" href="account-wishlist.html"><i
                                class="ti-heart pe-2"></i>Wishlist<span class="badge badge-pill">3</span></a>
                        <a class="list-group-items" href="account-tickets.html"><i class="ti-tag pe-2"></i>My
                            Tickets<span class="badge badge-pill">4</span></a> --}}
                    </div>

                </div>

            </div>
            <!-- end left panel -->

            <!-- right panel -->
            <div class="col-lg-8">

                <div class="common-block">

                    <div class="inner-title">
                        <h4 class="mb-0">My Orders</h4>
                    </div>

                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Order id</th>
                                    <th>Date</th>
                                    <th>amount</th>
                                    <th>status</th>
                                    <th>Details</th>
                                </tr>
                            </thead>
                            <tbody>
                               
                                {{#each order}}
                                <tr>
                                    <th>
                                        {{_id}}
                                    </th>
                                    <td>
                                        {{date}}
                                    </td>
                                    <td>₹{{totalprice}}</td>

                                    {{#ifEquals orderstatus "Order Canceled"}}
                                    <td>
                                        <span class="fas fa-circle  small mr-1" style="color: red;"></span>
                                        {{orderstatus}}
                                    </td>
                                    {{else}}
                                    <td>
                                        <span class="fas fa-circle  small mr-1" style="color: green;"></span>
                                        {{orderstatus}}
                                    </td>
                                    {{/ifEquals}}

                                    <td>
                                        <a href="/orderDetails/?id={{_id}}" class="text-primary">view</a>
                                    </td>
                                </tr>
                                {{/each}}

                            </tbody>
                        </table>
                        {{!--
                    </div>
                    <a class="butn-style2 mt-3" href="#"><span>Show All Orders</span></a>
                </div> --}}

            </div>
            <!-- end right panel -->
        </div>
    </div>
</section>