

        <!-- BANNER
        ================================================== -->
        <section class="full-screen p-0 top-position">
            <div class="slider-fade2 owl-carousel owl-theme w-100">
             {{#each banner}}
               {{#Equal status "ACTIVE"}}
                <div class="item bg-img h-100 w-100 cover-background" data-overlay-dark="0" data-background="images/{{this.imageUrl.[0]}}">
                    <div class="container h-100 d-table">
                        <div class="row d-table-cell align-middle h-100">
                            <div class="col-lg-5">
                                <h6 class="alt-font mb-2 h6 text-uppercase">{{this.Heading}}</h6>
                                <h1 class="display-16 display-sm-8 display-md-5 display-lg-3 mb-1-6 mb-lg-2-9">{{this.Discription}}</h1>
                                <a href="{{this.Url}}" class="butn-style4">Shop Now</a>
                            </div>
                        </div>
                    </div>
                </div>
                {{/Equal}}
                {{/each}}
                {{!-- <div class="item bg-img h-100 w-100 cover-background" data-overlay-dark="0" data-background="user/img/slider/slide-11.jpg">
                    <div class="container h-100 d-table">
                        <div class="row d-table-cell align-middle h-100">
                            <div class="col-lg-5">
                                <h3 class="alt-font mb-2 h6 text-uppercase">Offer</h3>
                                <h1 class="display-16 display-sm-8 display-md-5 display-lg-3 mb-1-6 mb-lg-2-9">Sofa Up to 50% OFF</h1>
                                <a href="/products" class="butn-style4">Shop Now</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item bg-img h-100 w-100 cover-background" data-overlay-dark="0" data-background="user/img/slider/slide-13.jpg">
                    <div class="container h-100 d-table">
                        <div class="row d-table-cell align-middle h-100">
                            <div class="col-lg-5">
                                <h3 class="alt-font mb-2 h6 text-uppercase">Collection</h3>
                                <h1 class="display-16 display-sm-8 display-md-5 display-lg-3 mb-1-6 mb-lg-2-9">Special Collection</h1>
                                <a href="/products" class="butn-style4">Shop Now</a>
                            </div>
                        </div>
                    </div>
                </div> --}}

            </div>
        </section>

        <!-- CATEGORY
        ================================================== -->
        <section>
            <div class="container">
                 <div class="text-center mb-1-9 mb-lg-2-3">
                    <h4 class="mb-0">CATEGORIES</h4>
                </div>
                <div class="row mt-n1-9 text-center" style="
    justify-content: center">
         {{#each category}}
  {{#unless block}}
    <div class="col-sm-6 col-md-4 col-lg-2 mt-1-9">
      <a href="/category/{{categoryName}}" class="category-style2">
        <div class="category-icon mb-4">
          <img src="/images/{{imageUrl}}" style="height: 90px;" alt="...">
        </div>
        <h6 class="font-weight-500 mb-0">{{categoryName}}</h6>
      </a>
    </div>
  {{/unless}}
{{/each}}
                </div>
            </div>
        </section>

        <!-- BY STYLE
        ================================================== -->
        <section class="bg-trend">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-3 mb-1-9 mb-lg-0">
                        <div class="pe-xl-6">
                            <h2 class="h1 mb-1-6 mb-lg-1-9">Shop <br>By Style</h2>
                            <p class="mb-1-6 mb-lg-1-9">Style any open air region with a few cautious review and cool headed choices.</p>
                            <a href="shop-categories.html" class="text-uppercase small font-weight-600 border-bottom border-color-black text-dark">All Categories</a>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="owl-carousel owl-theme by-trend-carousel text-center">
                            <a href="/category/SPORT">
                                <img src="images/593cecb182b59bf72f020ff0b462bb2d"   style="height: 500px;
                                            width: 1000px;
                                            object-fit: cover;" xoriginal="/images/{{product.imageUrl.[0].filename}}" alt="...">
                                <h3 class="h5 mb-0 mt-3">SPORT</h3>
                            </a>
                            <a href="/category/MILITARY">
                                <img src="images/2f894ee42724797db981cf567e54b276"   style="height: 500px;
                                            width: 1000px;
                                            object-fit: cover;" xoriginal="/images/{{product.imageUrl.[0].filename}}"alt="...">
                                <h3 class="h5 mb-0 mt-3"> MILITARY</h3>
                            </a>
                            <a href="/category/RACING">
                                <img src="images/58f4657ee10ccab4df2df3f2bd0d306f"   style="height: 500px;
                                            width: 1000px;
                                            object-fit: cover;" xoriginal="/images/{{product.imageUrl.[0].filename}}"alt="...">
                                <h3 class="h5 mb-0 mt-3">RACING</h3>
                            </a>
                            <a href="/category/SPORT">
                                <img src="images/6aba66e455312c71e1ebfd421644c34e"  style="height: 500px;
                                            width: 1000px;
                                            object-fit: cover;" xoriginal="/images/{{product.imageUrl.[0].filename}}" alt="...">
                                <h3 class="h5 mb-0 mt-3">SPORT</h3>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- FEATURED PRODUCTS
        ================================================== -->
        {{!-- <section>
            <div class="container">
                <div class="text-center mb-1-9 mb-lg-2-3">
                    <h2 class="mb-0">Featured Products</h2>
                </div>
                <div class="row mt-n1-9">
                    <div class="col-sm-6 col-lg-3 mt-1-9">
                        <div class="product-grid-four">
                            <div class="product-img">
                                <a href="shop-product-detail.html"><img src="user/img/products/featured-products/product-11.jpg" alt="..."></a>
                                <div class="action-butn">
                                    <a href="#!"><i class="ti-shopping-cart"></i></a>
                                    <a href="#!"><i class="ti-eye"></i></a>
                                    <a href="#!"><i class="ti-heart"></i></a>
                                </div>
                            </div>
                            <h3 class="h6"><a href="shop-product-detail.html">Modern Lifestyle Chair</a></h3>
                            <span class="font-weight-600 display-29 text-muted">$210.00</span>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3 mt-1-9">
                        <div class="product-grid-four">
                            <div class="product-img">
                                <a href="shop-product-detail.html"><img src="user/img/products/featured-products/product-12.jpg" alt="..."></a>
                                <span class="product-label bg-primary">new</span>
                                <div class="action-butn">
                                    <a href="#!"><i class="ti-shopping-cart"></i></a>
                                    <a href="#!"><i class="ti-eye"></i></a>
                                    <a href="#!"><i class="ti-heart"></i></a>
                                </div>
                            </div>
                            <h3 class="h6"><a href="shop-product-detail.html">Armchair And Pillow</a></h3>
                            <span class="font-weight-600 display-29 text-muted">$400.50</span>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3 mt-1-9">
                        <div class="product-grid-four">
                            <div class="product-img">
                                <a href="shop-product-detail.html"><img src="user/img/products/featured-products/product-13.jpg" alt="..."></a>
                                <div class="action-butn">
                                    <a href="#!"><i class="ti-shopping-cart"></i></a>
                                    <a href="#!"><i class="ti-eye"></i></a>
                                    <a href="#!"><i class="ti-heart"></i></a>
                                </div>
                            </div>
                            <h3 class="h6"><a href="shop-product-detail.html">Industrial Iron Table Lamp</a></h3>
                            <span class="font-weight-600 display-29 text-muted">$350.10</span>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3 mt-1-9">
                        <div class="product-grid-four">
                            <div class="product-img">
                                <a href="shop-product-detail.html"><img src="user/img/products/featured-products/product-14.jpg" alt="..."></a>
                                <span class="product-label bg-danger">sale</span>
                                <div class="action-butn">
                                    <a href="#!"><i class="ti-shopping-cart"></i></a>
                                    <a href="#!"><i class="ti-eye"></i></a>
                                    <a href="#!"><i class="ti-heart"></i></a>
                                </div>
                            </div>
                            <h3 class="h6"><a href="shop-product-detail.html">Living Room Sofa</a></h3>
                            <span class="font-weight-600 display-29 text-muted">$500.40</span>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3 mt-1-9">
                        <div class="product-grid-four">
                            <div class="product-img">
                                <a href="shop-product-detail.html"><img src="user/img/products/featured-products/product-15.jpg" alt="..."></a>
                                <div class="action-butn">
                                    <a href="#!"><i class="ti-shopping-cart"></i></a>
                                    <a href="#!"><i class="ti-eye"></i></a>
                                    <a href="#!"><i class="ti-heart"></i></a>
                                </div>
                            </div>
                            <h3 class="h6"><a href="shop-product-detail.html">Modern Office Chair</a></h3>
                            <span class="font-weight-600 display-29 text-muted">$150.00</span>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3 mt-1-9">
                        <div class="product-grid-four">
                            <div class="product-img">
                                <a href="shop-product-detail.html"><img src="user/img/products/featured-products/product-16.jpg" alt="..."></a>
                                <span class="product-label bg-danger">sale</span>
                                <div class="action-butn">
                                    <a href="#!"><i class="ti-shopping-cart"></i></a>
                                    <a href="#!"><i class="ti-eye"></i></a>
                                    <a href="#!"><i class="ti-heart"></i></a>
                                </div>
                            </div>
                            <h3 class="h6"><a href="shop-product-detail.html">Light Lamp On White Wall</a></h3>
                            <span class="font-weight-600 display-29 text-muted">$200.00</span>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3 mt-1-9">
                        <div class="product-grid-four">
                            <div class="product-img">
                                <a href="shop-product-detail.html"><img src="user/img/products/featured-products/product-17.jpg" alt="..."></a>
                                <div class="action-butn">
                                    <a href="#!"><i class="ti-shopping-cart"></i></a>
                                    <a href="#!"><i class="ti-eye"></i></a>
                                    <a href="#!"><i class="ti-heart"></i></a>
                                </div>
                            </div>
                            <h3 class="h6"><a href="shop-product-detail.html">Top Round Chair</a></h3>
                            <span class="font-weight-600 display-29 text-muted">$340.10</span>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3 mt-1-9">
                        <div class="product-grid-four">
                            <div class="product-img">
                                <a href="shop-product-detail.html"><img src="user/img/products/featured-products/product-18.jpg" alt="..."></a>
                                <div class="action-butn">
                                    <a href="#!"><i class="ti-shopping-cart"></i></a>
                                    <a href="#!"><i class="ti-eye"></i></a>
                                    <a href="#!"><i class="ti-heart"></i></a>
                                </div>
                            </div>
                            <h3 class="h6"><a href="shop-product-detail.html">Wooden Round Table</a></h3>
                            <span class="font-weight-600 display-29 text-muted">$270.90</span>
                        </div>
                    </div>
                </div>
            </div>
        </section> --}}

        <!-- OFFER BANNER
        ================================================== -->
        <section class="pt-0">
            <div class="container-fluid px-lg-1-9 px-xl-6 px-xxl-13">
                <div class="row mt-n4">
                    <div class="col-md-6 mt-4">
                        <div class="offer-style02">
                            <img src="user/img/slider/slide-11.jpg" alt="..."style="height: 300px;
                                            width: 800px;
                                            object-fit: cover;" xoriginal="user/img/slider/slide-11.jpg">
                            <div class="text-center position-absolute top-10 start-0 end-0">
                                <span class="text-uppercase font-weight-500 text-white letter-spacing-2 d-block mb-2 mb-sm-3">new arrivals</span>
                                <h2 class="h1 mb-2 text-white">Featured Deals</h2>
                                <p class="text-white font-weight-600 display-29 d-none d-sm-block">Save on what's hot right now.</p>
                                <a href="/products" class="butn-style4 sm">Shop Now<span></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mt-4">
                        <div class="offer-style02">
                            <img src="user/img/slider/slide-10.jpg" alt="..." style="height: 300px;
                                            width: 800px;
                                            object-fit: cover;" xoriginal="user/img/slider/slide-10.jpg">
                            <div class="text-center position-absolute top-10 start-0 end-0">
                                <span class="text-uppercase font-weight-600 text-white letter-spacing-2 d-block mb-2 mb-sm-3">up to 50% off</span>
                                <h2 class="h1 mb-2 text-white">Summer Sale</h2>
                                <p class="text-white font-weight-600 display-29 d-none d-sm-block">Save on what's hot right now.</p>
                                <a href="/products" class="butn-style4 sm">Shop Now<span></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- SERVICES
        ================================================== -->
        <section class="p-0">
            <div class="container">
                <div class="row mt-n4">
                    <div class="col-sm-6 col-lg-3 mt-4">
                        <div class="text-center">
                            <img src="user/img/icons/icon-10.png" class="mb-3" alt="...">
                            <h3 class="h5">Free Shipping</h3>
                            <p class="mb-0">Free shipping over $100</p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3 mt-4">
                        <div class="text-center">
                            <img src="user/img/icons/icon-13.png"  class="mb-3" alt="...">
                            <h3 class="h5">Money Return</h3>
                            <p class="mb-0">Guarantee under 7 days</p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3 mt-4">
                        <div class="text-center">
                            <img src="user/img/icons/icon-12.png" class="mb-3" alt="...">
                            <h3 class="h5">Gift Voucher</h3>
                            <p class="mb-0">Get $15 off your order</p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3 mt-4">
                        <div class="text-center">
                            <img src="user/img/icons/icon-13.png" class="mb-3" alt="...">
                            <h3 class="h5">Support 24 / 7</h3>
                            <p class="mb-0">Support online 24 hours a day</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- LOOKBOOk
        ================================================== -->
        <section>
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-7 mb-1-9 mb-lg-0">
                        <div class="pe-xl-1-9 position-relative">
                            <img src="user/img/slider/slide-13.jpg" alt="...">
                            <div class="lookbook d-none d-sm-block">
                                <span class="lookbook-icon"><i class="fa-solid fa-plus"></i></span>
                                <div class="lookbook-content">
                                    <div class="d-flex">
                                        <img src="user/img/slider/slide-13.jpg" alt="...">
                                        <div class="ms-3">
                                            <h3 class="h6 mb-0"><a href="shop-product-detail.html">Light Lamp</a></h3>
                                            <p class="mb-0">$100.00</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="lookbook second">
                                <span class="lookbook-icon"><i class="fa-solid fa-plus"></i></span>
                                <div class="lookbook-content">
                                    <div class="d-flex">
                                        <img src="user/img/slider/slide-13.jpg" alt="...">
                                        <div class="ms-3">
                                            <h3 class="h6 mb-0"><a href="shop-product-detail.html">ROLEX</a></h3>
                                            <p class="mb-0">₹2600.00</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="ps-xl-6">
                            {{!-- <h2 class="h1 w-xl-80 mb-1-6 mb-lg-1-9">Discover the  of your dreams</h2> --}}
                            <p class="mb-1-6 mb-lg-1-9">A watch is a portable timepiece intended to be carried or worn by a person. It is designed to keep a consistent movement despite the motions caused by the person's activities</p>
                            <a href="/products" class="text-uppercase small border-bottom border-color-black text-dark">shop the look</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- INSTAGRAM IMAGES
        ================================================== -->
        <section class="p-0">
            <div class="container-fluid px-0">
                <div class="row g-0 portfolio-gallery">
                    <div class="col-sm-4 col-lg" data-src="user/img/gallery/06.jpg" data-sub-html="<h4 class='text-white'>#01</h4>">
                        <div class="instagram-block rounded-0">
                            <img src="user/img/slider/slide-10.jpg" alt="...">
                        </div>
                    </div>
                    <div class="col-sm-4 col-lg" data-src="user/img/gallery/07.jpg" data-sub-html="<h4 class='text-white'>#02</h4>">
                        <div class="instagram-block rounded-0">
                            <img src="user/img/slider/slide-10.jpg" alt="...">
                        </div>
                    </div>
                    <div class="col-sm-4 col-lg" data-src="user/img/gallery/08.jpg" data-sub-html="<h4 class='text-white'>#03</h4>">
                        <div class="instagram-block rounded-0">
                            <img src="user/img/slider/slide-10.jpg" alt="...">
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg" data-src="user/img/gallery/09.jpg" data-sub-html="<h4 class='text-white'>#04</h4>">
                        <div class="instagram-block rounded-0">
                            <img src="user/img/slider/slide-10.jpg" alt="...">
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg" data-src="user/img/gallery/10.jpg" data-sub-html="<h4 class='text-white'>#05</h4>">
                        <div class="instagram-block rounded-0">
                            <img src="user/img/slider/slide-10.jpg" alt="...">
                        </div>
                    </div>
                </div>
            </div>
        </section>

   